body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 100px; /* Adjust margin for positioning */
}

.logo img {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 100px; /* Adjust spacing between menu items */
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li.active a {
    background-color: darkslategrey;
    color: white;
}

nav ul li a:hover {
    background-color: darkslategrey;
    color: white;
}
